<!DOCTYPE html>
<html>
  <head>
    <title>Your Profile | FroyoFeedback</title>
    <%- include ../partials/head %>
  </head>
  <body id="profile">
<!-- ========= JAVASCRIPT FUNCTIONS ============= -->
    <% var topSix = []; %>
    <% var allLikes = []; %>

    <% favorites.forEach(function(favorite)  { %>
      <% topSix.push(favorite.flavorId); %>
    <% }); %>
    <% likes.forEach(function(like)  { %>
      <% allLikes.push(like.flavorId); %>
    <% }); %>

    <% var topFlavorsOptions = function(num) { %>
      <% var topFlavorNum = 'topFlavor'  + num; %>
      <div class="input-field">
        <select name="topFlavor<%= num %>" form="updateProfile">
          <option value="" disabled selected>Choose your option</option>
          <% flavors.forEach(function(flavor) { %>
            <option value="<%= flavor.id %>" <% if (profile[0][topFlavorNum] === flavor.id) {%> selected<%} %> ><%= flavor.name %> [<%= flavor.flavorType %>]</option>
          <% }); %>
        </select>
      </div>
    <% } %>
    <% var flavorLikeOptions = function(type) { %>
      <% console.log(allLikes);%>
      <% flavors.forEach(function(flavor, id) { %>
        <% if (flavor.flavorType === type && flavor.status === 'in-rotation') { %>
          <% var likedFlavor = false; %>
          <% allLikes.forEach(function(liked){ %>
            <% if (liked === flavor.id) { %>
              <% likedFlavor = true; %>
            <% } %>
          <% }); %>
          <p>
            <input type="checkbox" id="<%= flavor.id %>" name="<%= flavor.id %>" <% if (likedFlavor) {%> checked<%} %> >
            <label for="<%= flavor.id %>"><%= flavor.name %></label>
          </p>
        <% } %>
      <% }); %>
    <% }; %>
<!-- ========= END OF JAVASCRIPT FUNCTIONS ============= -->


<!-- ========= BEGINING OF PAGE CONTENT ============= -->
    <div class="row">
      <div class="col s3 sidebar-nav z-depth-3">
        <img src="/img/whitecaplogo_white.png">

        <ul class="nav-links">
          <div class="avatar">
            <img src="http://api.adorable.io/avatar/<%= user.email %>" >
            <h5><%= user.email %></h5>
          </div>

          <a href="/profile">
            <li class="profileLink">
              Profile
            </li>
          </a>
          <!-- <a href="/profile/options">
            <li class="optionsLink">
              Options
            </li>
          </a> -->

        </ul>
        <a class="whitecap-blue btn" href="/logout">Logout</a>
      </div>

      <div class="col s9 push-s3 main-content">

        <div class="row">
          <div class="col s12">
            <div class="green-card">
              <h3>Top 6 Favorite Flavors</h3>

              <div class="row">
                <div class="col s6 m6 l4">
                  <% topFlavorsOptions(1); %>
                </div>

                <div class="col s6 m6 l4">
                  <% topFlavorsOptions(2); %>
                </div>

                <div class="col s6 m6 l4">
                  <% topFlavorsOptions(3); %>
                </div>

                <div class="col s6 m6 l4">
                  <% topFlavorsOptions(4); %>
                </div>

                <div class="col s6 m6 l4">
                  <% topFlavorsOptions(5); %>
                </div>

                <div class="col s6 m6 l4">
                  <% topFlavorsOptions(6); %>
                </div>
              </div>

            </div>
          </div>

        </div><!-- END ROW -->

        <form method="put" id="updateProfile" action="/profile">

          <div class="row">
            <div class="col s12 m6 l4">
              <div class="gray-card">
                <h4>NonFat</h4>
                <% flavorLikeOptions('NonFat') %>
              </div>
            </div>

            <div class="col s12 m6 l4">
              <div class="gray-card">
                <h4>LowFat</h4>
                <% flavorLikeOptions('LowFat') %>
              </div>

              <div class="gray-card">
                <h4>No Sugar Added</h4>
                <% flavorLikeOptions('No Sugar Added') %>
              </div>
            </div>

            <div class="col s12 m6 l4">
              <div class="gray-card">
                <h4>Non-Dairy Sorbet</h4>
                <% flavorLikeOptions('Non-Dairy Sorbet') %>
              </div>

              <div class="gray-card">
                <h4>Almond Milk</h4>
                <% flavorLikeOptions('Almond Milk') %>
              </div>
            </div>
          </div> <!-- END ROW -->
          <div class="row">
            <div class="col s12 submit-container">
              <input type="submit" value="submit" class="whitecap-green btn">
            </div>
          </div>
        </form>

      </div> <!-- END COL s9 -->
    </div><!-- END ROW -->


    <% include ../partials/footer %>
    <% include ../partials/alerts %>

  </body>
</html>
