<!DOCTYPE html>
<html>
  <head>
    <title>Your Profile | FroyoFeedback</title>
    <% include ../partials/head %>
  </head>
  <body id="profile">
    <div class="row">
      <div class="col s3 sidebar-nav z-depth-3">
        <!-- Grey navigation panel -->
        <% include ../partials/admin_nav %>
      </div>
      <div class="col s9 push-s3 main-content">
        <h1>Favorite Flavors</h1>

        <h3>Top 6 Favorite Flavors</h3>
        <div class="row">
          <% var topSix = []; %>
          <% var allLikes = []; %>
          <% favorites.forEach(function(favorite)  { %>
            <% topSix.push(favorite.flavorId); %>
          <% }); %>
          <% likes.forEach(function(like)  { %>
            <% allLikes.push(like.flavorId); %>
          <% }); %>

          <div class="col s4">
            <div class="input-field">
              <select name="topFlavor1" form="updateProfile">
                <option value="" disabled selected>Choose your option</option>
                <% flavors.forEach(function(flavor) { %>
                  <option value="<%= flavor.id %>" <% if (topSix[0] === flavor.id) {%> selected<%} %> ><%= flavor.name %></option>
                <% }); %>
              </select>
            </div>

            <div class="input-field">
              <select name="topFlavor2" form="updateProfile">
                <option value="" disabled selected>Choose your option</option>
                <% flavors.forEach(function(flavor) { %>
                  <option value="<%= flavor.id %>" <% if (topSix[1] === flavor.id) {%> selected<%} %> ><%= flavor.name %></option>
                <% }); %>
              </select>
            </div>
          </div>


          <div class="col s4">
            <div class="input-field">
              <select name="topFlavor3" form="updateProfile">
                <option value="" disabled selected>Choose your option</option>
                <% flavors.forEach(function(flavor) { %>
                  <option value="<%= flavor.id %>" <% if (topSix[2] === flavor.id) {%> selected<%} %> ><%= flavor.name %></option>
                <% }); %>
              </select>
            </div>

            <div class="input-field">
              <select name="topFlavor4" form="updateProfile">
                <option value="" disabled selected>Choose your option</option>
                <% flavors.forEach(function(flavor) { %>
                  <option value="<%= flavor.id %>" <% if (topSix[3] === flavor.id) {%> selected<%} %> ><%= flavor.name %></option>
                <% }); %>
              </select>
            </div>
          </div>
          <div class="col s4">
            <div class="input-field">
              <select name="topFlavor5" form="updateProfile">
                <option value="" disabled selected>Choose your option</option>
                <% flavors.forEach(function(flavor) { %>
                  <option value="<%= flavor.id %>" <% if (topSix[4] === flavor.id) {%> selected<%} %> ><%= flavor.name %></option>
                <% }); %>
              </select>
            </div>

            <div class="input-field">
              <select name="topFlavor6" form="updateProfile">
                <option value="" disabled selected>Choose your option</option>
                <% flavors.forEach(function(flavor) { %>
                  <option value="<%= flavor.id %>" <% if (topSix[5] === flavor.id) {%> selected<%} %> ><%= flavor.name %></option>
                <% }); %>
              </select>
            </div>
          </div>
        </div>

        <form method="put" id="updateProfile" action="/profile">

          <div class="row">
            <div class="col">
              <h4>NonFat</h4>
              <% flavors.forEach(function(flavor, id) { %>
                <% if (flavor.flavorType === 'nonfat' && flavor.status === 'in-rotation') { %>
                  <p>
                    <input type="checkbox" id="<%= flavor.id %>" name="<%= flavor.id %>" <% if (allLikes[id] === flavor.id) {%> checked<%} %> >
                    <label for="<%= flavor.id %>"><%= flavor.name %></label>
                  </p>
                <% } %>
              <% }); %>
            </div>
            <div class="col">
              <h4>LowFat</h4>
              <% flavors.forEach(function(flavor) { %>
                <% if (flavor.flavorType === 'lowfat' && flavor.status === 'in-rotation') { %>
                  <p>
                    <input type="checkbox" id="<%= flavor.id %>" name="<%= flavor.id %>" <% if (allLikes[id] === flavor.id) {%> checked<%} %> >
                    <label for="<%= flavor.id %>"><%= flavor.name %></label>
                  </p>
                <% } %>
              <% }); %>

              <h4>No Sugar Added</h4>
              <% flavors.forEach(function(flavor) { %>
                <% if (flavor.flavorType === 'nsa' && flavor.status === 'in-rotation') { %>
                  <p>
                    <input type="checkbox" id="<%= flavor.id %>" name="<%= flavor.id %>" <% if (allLikes[id] === flavor.id) {%> checked<%} %> >
                    <label for="<%= flavor.id %>"><%= flavor.name %></label>
                  </p>
                <% } %>
              <% }); %>
            </div>
            <div class="col">
              <h4>Non-Dairy Sorbet</h4>
              <% flavors.forEach(function(flavor) { %>
                <% if (flavor.flavorType === 'non-dairy-sorbet' && flavor.status === 'in-rotation') { %>
                  <p>
                    <input type="checkbox" id="<%= flavor.id %>" name="<%= flavor.id %>" <% if (allLikes[id] === flavor.id) {%> checked<%} %> >
                    <label for="<%= flavor.id %>"><%= flavor.name %></label>
                  </p>
                <% } %>
              <% }); %>

              <h4>Almond Milk</h4>
              <% flavors.forEach(function(flavor) { %>
                <% if (flavor.flavorType === 'ams' && flavor.status === 'in-rotation') { %>
                  <p>
                    <input type="checkbox" id="<%= flavor.id %>"  name="<%= flavor.id %>" <% if (allLikes[id] === flavor.id) {%> checked<%} %> >
                    <label for="<%= flavor.id %>"><%= flavor.name %></label>
                  </p>
                <% } %>
              <% }); %>
            </div>
          </div> <!-- END ROW -->
          <input type="submit" value="submit">
        </form>
      </div>
    </div>



    <% include ../partials/footer %>
    <% include ../partials/alerts %>
  </body>
</html>
