<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard | FroyoFeedback</title>
    <% include ./partials/head %>
  </head>
  <body id="dashboard">
    <div class="row mobile-only">
      <div class="col s12 mobile-nav z-depth-3 valign-wrapper">
        <div class="col s5">
          <img src="/img/whitecaplogo_white.png" class="logo">
        </div>
        <div class="col s7 right-nav">
          <a href="/dashboard" class="mobile-nav-link dashboard">Dashboard</a>
          <a href="/dashboard/flavors" class="mobile-nav-link flavors">Flavors</a>

          <a class="whitecap-blue btn logout" href="/logout">Logout</a>
        </div>
      </div>
    </div>

    <div class="row no-mobile">
      <div class="col s12 m12 l3 sidebar-nav z-depth-3 hide-on-med-and-down">
        <!-- Grey navigation panel -->
        <% include ./partials/admin_nav %>
      </div>
      <div class="col s12 m12 l9 push-l3 main-content">
        <div class="row">
          <div class="col s12 m12 l6 border-radius">
            <div class="gray-card">
              <h5 class="graphTitle">Top Favorited Flavors</h5>
              <canvas id="topSixFavChart" width="400" height="400"></canvas>
            </div>
          </div>

          <div class="col s12 m12 l6">
            <div class="gray-card">
              <h5 class="graphTitle">Top Liked Flavors</h5>
              <canvas id="likeBarChart" width="400" height="400"></canvas>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m6 l4">
            <div class="gray-card">
              <h5>Top NonFat Flavors</h5>
              <% topNonFat.forEach(function(nonfatFlavor, id) { %>
                <p class="top-flavor-list">
                  <%= (id + 1) %>. <%= nonfatFlavor.name %> (<%= nonfatFlavor.count %> votes)
                </p>
              <% }) %>
            </div>
          </div>

          <div class="col s12 m6 l4">
            <div class="gray-card">
              <h5>Top LowFat Flavors</h5>
              <% topLowFat.forEach(function(lowfatFlavor, id) { %>
                <p class="top-flavor-list">
                  <%= (id + 1) %>. <%= lowfatFlavor.name %> (<%= lowfatFlavor.count %> votes)
                </p>
              <% }) %>
            </div>

            <div class="gray-card">
              <h5>Top No Sugar Added Flavors</h5>
              <% topNSA.forEach(function(nsaFlavor, id) { %>
                <p class="top-flavor-list">
                  <%= (id + 1) %>. <%= nsaFlavor.name %> (<%= nsaFlavor.count %> votes)
                </p>
              <% }) %>
            </div>
          </div>

          <div class="col s12 m6 l4">
            <div class="gray-card">
              <h5>Top Non-Dairy Sorbet Flavors</h5>
              <% topSorbet.forEach(function(sorbetFlavor, id) { %>
                <p class="top-flavor-list">
                  <%= (id + 1) %>. <%= sorbetFlavor.name %> (<%= sorbetFlavor.count %> votes)
                </p>
              <% }) %>
            </div>

            <div class="gray-card">
              <h5>Top Almond Milk Flavors</h5>
              <% topAlmondMilk.forEach(function(almondMilkFlavor, id) { %>
                <p class="top-flavor-list">
                  <%= (id + 1) %>. <%= almondMilkFlavor.name %> (<%= almondMilkFlavor.count %> votes)
                </p>
              <% }) %>
            </div>
          </div>
        </div>

      </div> <!-- END COLUMN -->
    </div><!-- END ROW -->


    <% include ./partials/footer %>
    <% include ./partials/alerts %>

    <% var favoritesNames = []; %>
    <% var likesNames = []; %>
    <% var favoritesTotals = []; %>
    <% var likesTotals = []; %>
    <% for (var i = 0; i < 8; i++) { %>
      <% var name = flavorIdNameObj[parseInt(favoritesCount[i].flavorId)]; %>
      <% favoritesNames.push(name + ' (' + favoritesCount[i].count + ')' );  %>
      <% favoritesTotals.push(parseInt(favoritesCount[i].count)); %>
    <% } %>
    <% likesCount.forEach(function(like, i) { %>
      <% var name = flavorIdNameObj[parseInt(likesCount[i].flavorId)]; %>
      <% likesNames.push(name + ' (' + likesCount[i].count + ')' );  %>
      <% likesTotals.push(parseInt(likesCount[i].count)); %>
    <% }); %>
    <script>
      var ctx = document.getElementById("topSixFavChart").getContext('2d');
      var ctx2 = document.getElementById("likeBarChart").getContext('2d');
      var colors = [
        '#eb3687','#5a36eb',
        '#36a2eb','#36eba4',
        '#55eb36','#ebde36',
        '#eb8736','#eb4c36',
        '#eb3687','#5a36eb',
        '#36a2eb','#36eba4',
        '#55eb36','#ebde36',
        '#eb8736','#eb4c36',
        '#eb3687','#5a36eb',
        '#36a2eb','#36eba4',
        '#55eb36','#ebde36',
        '#eb8736','#eb4c36',
        '#eb3687','#5a36eb',
        '#36a2eb','#36eba4',
        '#55eb36','#ebde36',
        '#eb8736','#eb4c36',
        '#eb3687','#5a36eb',
        '#36a2eb','#36eba4',
        '#55eb36','#ebde36',
        '#eb8736','#eb4c36',
      ];
      var topSixFavChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
          datasets: [{
              data: [<%= favoritesTotals %>],
              backgroundColor: colors
          }],
          // These labels appear in the legend and in the tooltips when hovering different arcs
          labels: <%- JSON.stringify(favoritesNames) %>
        }
      });

      var likeBarChart = new Chart(ctx2, {
        type: 'horizontalBar',
        data: {
          datasets: [{
            data: [<%= likesTotals %>],
            backgroundColor: colors
          }],
          labels: <%- JSON.stringify(likesNames) %>
        },
        options: {
            scales: {
                xAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
      });
    </script>
  </body>
</html>
