<!DOCTYPE html>
<html>
  <head>
    <title>Flavors | FroyoFeedback</title>
    <% include ../partials/head %>
  </head>
  <body id="flavors">
      <div class="row mobile-only">
        <div class="col s12 mobile-nav z-depth-3 valign-wrapper">
          <div class="col s5">
            <img src="/img/whitecaplogo_white.png" class="logo">
          </div>
          <div class="col s7 right-nav">
            <a href="/dashboard" class="mobile-nav-link dashboard">Dashboard</a>
            <a href="/dashboard/flavors" class="mobile-nav-link flavors">Flavors</a>

            <a class="whitecap-blue btn logout" href="/logout">Logout</a>
          </div>
        </div>
      </div>

      <div class="row no-mobile">
        <div class="col s12 m12 l3 sidebar-nav z-depth-3 hide-on-med-and-down">
        <!-- Grey navigation panel -->
        <% include ../partials/admin_nav %>
      </div>
      <div class="col s12 m12 l9 push-l3 main-content">

        <form method="post" action="/dashboard/flavors" id="flavor-form">
          <div class="gray-card">
            <h4>Add A Flavor</h4>
            <div class="row valign-wrapper">
              <div class="col s12 m6 l4">
                <input type="text" name="name" placeholder="Flavor name" />
              </div>

              <div class="col s12 m6 l3">
                <div class="input-field">
                  <select name="flavorType" form="flavor-form">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="NonFat">NonFat</option>
                    <option value="LowFat">LowFat</option>
                    <option value="No Sugar Added">No Sugar Added / NonFat</option>
                    <option value="Non-Dairy Sorbet">Non-Dairy Sorbet</option>
                    <option value="Almond Milk">Almond Milk</option>
                  </select>
                </div>
              </div>

              <div class="col s12 m12 l2">
                <div class="switch">
                  <label>
                    <input type="checkbox" name="status" checked>
                    <span class="lever"></span>
                    In-Rotation
                  </label>
                </div>
              </div>

              <div class="col s12 m12 l3">
                <input type="submit" value="Add Flavor" class="whitecap-green btn">
              </div>
            </div> <!-- END ROW valign-wrapper -->

          </div>
        </form>


        <% var printFlavors = function(type){ %>
          <h4><%= type %></h4>
          <% flavors.forEach(function(flavor) { %>
            <% if (flavor.flavorType === type) { %>
              <div>
                <p class="flavor-name"><%= flavor.name %></p>
                <p class="flavor-type-status">
                  <%= flavor.flavorType %> (<%= flavor.status %>)
                </p>
                <div class="edit-delete-btn-container">
                  <a href="/dashboard/flavors/<%= flavor.id %>/edit" class="whitecap-blue btn">Edit</a>
                  <a href="#delete-modal" data-delete="/dashboard/flavors/<%= flavor.id %>" class="whitecap-blue btn delete-modal delete-flavor">Delete</a>
                </div>
              </div>
            <% } %>

          <% }); %>
        <% } %>

        <div class="row">
          <div class="col s12 m6 l4">
            <div class="gray-card">
              <% printFlavors('NonFat') %>
            </div>
          </div>
          <div class="col s12 m6 l4">
            <div class="gray-card">
              <% printFlavors('LowFat') %>
            </div>

            <div class="gray-card">
              <% printFlavors('No Sugar Added') %>
            </div>
          </div>
          <div class="col s12 m6 l4">
            <div class="gray-card">
              <% printFlavors('Non-Dairy Sorbet') %>
            </div>
            <div class="gray-card">
              <% printFlavors('Almond Milk') %>
            </div>
          </div>
        </div>

      </div> <!-- END CONTENT AREA -->
    </div> <!-- END ROW -->

    <div id="delete-modal" class="modal">
      <div class="modal-content">
        <h4>Are you sure you?</h4>
      </div>
      <div class="modal-footer">
        <a href="#!" id="cancel-delete" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
        <a href="#!" id="approve-delete" class="modal-action modal-close waves-effect waves-green btn-flat">Yes</a>
      </div>
    </div>

    <% include ../partials/footer %>
    <% include ../partials/alerts %>
  </body>
</html>
